@import './themes/style.scss';

@font-face {
    font-family: "font1";
    src: url("./themes/fonts/permanent_Marker/font1.ttf");
  }
  @font-face {
    font-family: "font2";
    src: url("./themes/fonts/rubik_Vinyl/font2.ttf");
  }

*{
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar{
    height: 0;
    width: 0;
    display: none;
}

body{
    background-color: $primary-background;
}
